body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff3366;
}

.poema {
    color: #333;
    font-size: 1.2em;
    margin: 20px 0;
}

#heartContainer {
    margin-top: 20px;
}

canvas {
    border: 1px solid #ff3366;
    background-color: #ffe6e6;
}
